# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env

# Jupyter
.ipynb_checkpoints/

# =========================
# Dataset Files
# =========================
data/raw/
data/processed/

# Optional large data files
*.csv
!sample.csv

# =========================
# Model Files
# =========================
# Uncomment if model becomes large
# models/*.pkl

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Logs
# =========================
*.log

# =========================
# Build Artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Cache
# =========================
.cache/
.pytest_cache/